<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration
  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" targetFramework="4.0" xdt:Transform="Replace"/>
  </system.web>
  <!--接口字符配置-->
  <appSettings>
    <!--正式-->
    <add key="PushUrl" value="https://wishpost.wish.com/api/v1" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="ApiKey" value="JHBia2RmMiQxMDAkUW1ndEJRQ2c5RjdMV2V0OUwwWG9uUSRCQ2l5cXZnWDRZUEdETzB0RDh2YVBjNVBhOGs=" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <!--WISH平台设置-->
    <add key="WishExpressSettingUri" value="http://114.55.80.147:9953/api/wishExpressSetting" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>

  <!--数据库连接字符替换操作-->
  <connectionStrings>
    <add name="Yanwen_EPC" connectionString="data source=yanwenepc2019.sqlserver.rds.aliyuncs.com,3433;initial catalog=yanwenepc;persist security info=True;user id=ywepc;password=AbCd12321);multipleactiveresultsets=True;"
         providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="Replace"/>

    <add name="YanwenTMS" connectionString="data source=ywwl2016tms3.sqlserver.rds.aliyuncs.com,3433;initial catalog=YanwenTMS;persist security info=True;user id=yanwen;password=6(oHcW9L;multipleactiveresultsets=True;"
         providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  </connectionStrings>
</configuration>